<!-- Edit a user's profile  -->


  <h1>Edit Your Profile</h1>
  <form method="POST" action="/users/<%= @user.id %>">
    <input type="hidden" name="_method" value="PUT">
    <p>Your User Name: <input type="text" name="user[name]" value="<%= @user.name %>"></p>
    <p>Your Email: <input type="text" name="user[email]" value="<%= @user.email %>"></p>
  <!-- should password entry be required to update password? how? -->
    <p>Your Password: <input type="text" name="password"></p>
    <input type="submit" value="Update your information" class="button">
  </form>
