<h2>User Stats</h2>

<% if session[:id] %>
<p> You are looking at your own profile! </p>
<% else %>
<p> You are looking at the profile of: </p>
<% end %>

<p>Email : <%= @user.email %> </p>

<p>Stats: totally not happening yet! </p>
