
<h3>Are you ready to face the greatest challenge of your life?</h3>
<br>
<h6>Press the button to immerse yourself in the fantastic scenario we call ...</h6>
<br>
<h1>The Raver, and The Bear</h1>
<br>
<form method="post" action="/games">
<!--   Name:<input type="text" name="name" placeholder="Name" required><br>
  Password:<input type="password" name="password" placeholder="Password" required><br> -->
  <input type="submit" value="I'm ready for this!">
</form>

