<!-- aaaaaand that's time!
was working on changing the form to update instead of create
need to find correct post (or put?) path -->

<h1>Update a restaurant info</h1>

<form method="put" action="________">
<input type="hidden" name="_method" value="post">
  Name of restaurant:<br>
  <input type="text" name="name"><br>
  Type of cuisine:<br>
  <input type="text" name="cuisine"><br>
  Address:<br>
  <input type="text" name="address"><br>
  City:<br>
  <input type="text" name="city"><br>
  <!-- need to add validation or formatting for state -->
  State:<br>
  <input type="text" name="state"><br>
  Zip Code:<br>
  <input type="text" name="zip"><br>
  <input type="submit" value="Update that restaurant!">
</form>
