<!-- PAGE NEEDS reformatting  -->

<div class="container">
  <br>

  <div class='error-message'>
  <h3><%= @error_message if @error_message %></h3>
  </div>

 <!-- Legacy form - feels clunky, could be cleaner code - is there a purpose to this structure? -->
  <form action="/sessions" method="POST">
  <fieldset>
  <!-- Form Name -->
  <legend>User Login</legend>
  <!-- Email input-->
  <div >
    <label for="email">Email Address</label>
    <div >
    <input id="email" name="email" type="email" required="">
    </div>
  </div>
  <br>
  <!-- Password input-->
  <div >
    <label  for="password_plaintext">Password</label>
    <div >
      <input id="password_plaintext" name="password_plaintext" type="password" placeholder="" class="form-control input-md" required="">
    </div>
  </div>
  <br>
  <!-- Button -->
  <div >
    <label  for="register"></label>
    <div >
      <button id="login" name="login" class="btn btn-primary">Login</button>
    </div>
  </div>
  </fieldset>
  </form>
</div>
