<!-- PAGE NEEDS reformatting  -->

<h1> Login Page </h1>

<%= @error if @error %>

<form method="post" action="/sessions">
  <input type="text" name="email" placeholder="Email address"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input type="submit" value="Come on inside!">
</form>

